<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!--Account type can be 'Google' or 'Ptc'-->
    <add key="AccountType" value="Google" />
    <add key="DefaultLatitude" value="52.3776608" />
    <add key="DefaultLongitude" value="4.8612473" />
    <add key="DefaultAltitude" value="10" />

    <!--Only needed if you chose Google as your account type-->
    <add key="GoogleEmail" value="google@gmail.com" />
    <add key="GooglePassword" value="googlepassword" />
    <!--Only needed if you chose Ptc as your account type-->
    <add key="PtcUsername" value="ptcusername" />
    <add key="PtcPassword" value="ptcpassword" />

    <!--Logic settings-->
    <add key="KeepMinIvPercentage" value="95" />
    <add key="KeepMinCp" value="1800" />
    <add key="WalkingSpeedInKilometerPerHour" value="180" />
    <add key="KeepPokemonsThatCanEvolve" value="false" />
    <add key="TransferDuplicatePokemon" value="true" />
    <add key="UsePokemonToNotCatchFilter" value="false" />
    <add key="KeepMinDuplicatePokemon" value="1" />
    <add key="PrioritizeIvOverCp" value="true" />

    <add key="UseLuckyEggs" value="false" />
    <add key="UseBurstMode" value="true" />
    <add key="EvolveAll" value="true" />

    <!--Will ONLY evolve pokemon above your IV threshold-->
    <!--Unsupported at the moment-->
    <!--<add key="EvolveAllPokemonAboveIv" value="false" />
    <add key="EvolveAboveIvValue" value="95" />-->

    <add key="TeleportInsteadOfWalking" value="true" />

    <!--Untested. Use at own risk-->
    <add key="UseGpxPathing" value="false" />
    <add key="GpxFile" value="gpx.test" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="file.txt" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}" useDefaultRowHighlightingRules="true" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
